<!--------------------------------------------------------------------------------------------------
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="demo">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-12 col-sm-12" *ngFor="let article of articleList">
                <div id="news-slider2" class="owl-carousel">
                    <div class="post-slide2">
                        <div class="post-content">
                            <h3 class="post-title">{{article.title}}</h3>
                            <p class="post-description">
                                {{article.content}}
                            </p>
                            <ul class="post-bar">
                                <h3 class="post-title">{{article.author}}</h3>
                            </ul>
                            <i class="fa fa-star star" (click)="addUserFavourites(article.title,article.description)" data-toggle="modal" data-target="#myModal" style="cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


 The Modal 
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

          
            <div class="modal-body">

                <div class="alert alert-success">
                    <h4>Article added to your favourite list!</h4>
                    <p>Go to the favourite page to find it anytime.</p>

                </div>

                <div class="alert alert-danger">
                    <h4>Article already present in your list!</h4>
                </div>
            </div>

           
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->